<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="yDqJjGTG13DC9_op3oYrphadYciNXtEufjyXYGZsGtM" />
    <meta name="description" content="Русская школа" />
    <title>Lernicon Academy</title>
    <link rel="stylesheet" href="/_dist_/main.css" />
    %svelte.head%
  </head>
  <body>
    <div id="app">
      %svelte.html%
    </div>
    <script type="module" src="/_dist_/client.js"></script>
  </body>
</html>